/* Global */
body {
  color: #eee;
  background-color: rgb(25, 24, 36);
  max-width: 100vw;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  transition: color 0.15s ease-in-out;
}
.mainBackground {
  background-color: rgb(58, 56, 70);
  padding: 1rem;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
}
.noPadding {
  padding: 0;
}

/* Navbar */
.header {
  background-color: rgb(73, 77, 97);
  max-height: 60px;
  position: sticky;
  top: 0;
}
.header > .navbar-brand {
  color: #eee;
  font-size: 2em;
  padding: 0;
}
.header > .navbar-brand:hover {
  color: #6e6e6e;
}
.header div > .twoButtonNav {
  margin-right: 2rem;
}

/* Welcome page */
.welcomeContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.welcomeHeading {
  padding: 1rem;
}
.welcomeHeading h1 {
  margin: 0;
}
.welcomeBody {
  padding: 1rem;
}

/* Login */
.btnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btnContainer button {
  margin: 1rem 0;
  width: 30%;
  min-width: max-content;
}

/* auth forms/headings */
.registerHeading {
  text-align: center;
}
.loginStdHeading {
  text-align: center;
}
.authFormOuter {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.authFormOuter form {
  width: 30%;
  min-width: 30vh;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
}
.authFormOuter input {
  margin-bottom: 1rem;
}
.authFormOuter button {
  width: max-content;
  align-self: center;
}

/* Main page */
.main-head {
  text-align: center;
  padding: 1rem;
}
.main-chatRoomSingleContainer {
  padding: 1rem;
  font-size: 1.25em;
}
.main > .container {
  display: flex;
  flex-direction: column;
}
.singleRoom-Main {
  display: flex;
  justify-content: space-between;
  border: 2px solid #1e1e24;
  border-radius: 3px;
  margin: 0.5rem 0;
}
.singleRoom-Main:hover {
  background-color: #1a1e21;
}
.roomName {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  align-self: center;
  color: #eee;
}
.roomName:hover {
  cursor: pointer;
}
.roomName:active {
  background-color: black;
  cursor: pointer;
}
.roomName p, .roomName code {
  align-self: center;
  margin: 0 0.5rem;
  width: max-content;
  padding: 0.5rem;
}
.roomName code {
  font-size: 0.75em;
  font-style: italic;
}
.btn-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 40%;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
}
.btn-container div {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}
.btn-container p,
.btn-container button {
  margin: 0 0.5rem 0 0;
  border: none;
  font-size: 0.6em;
  padding: 0;
}
.btn-container p {
  color: #afafaf;
}
.btn-container button {
  margin: 0 2rem;
}
.btn-container button:hover {
  background-color: transparent;
  color: #b12a37;
}
.btn-container .lighter {
  color: #eee !important;
}

/* Chat room */
.chat {
  max-height: calc(100vh - 60px);
  position: relative;
}
.chat > .mainBackground {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding: 1rem 0 0;
}
.messagesContainer {
  padding: 0 1rem 1rem;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  min-height: 90%;
}
.messagesContainer::-webkit-scrollbar {
  width: 0.25rem;
}
.messagesContainer::-webkit-scrollbar-track {
  background: #1e1e24;
}
.messagesContainer::-webkit-scrollbar-thumb {
  background: #522bbe;
  border-radius: 1rem;
}
.chatHead {
  text-align: center;
  position: sticky;
  top: 0;
}
.chatHead h1 {
  margin: 0;
}
.chatHead code {
  font-style: italic;
}
.message {
  display: flex;
  align-items: center;
  padding: 0.25rem;
}
.message p {
  max-width: 500px;
  margin: 0 0 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: center;
}
.message img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}
.sent {
  flex-direction: row-reverse;
}
.sent p {
  color: white;
  background: #0b93f6;
  align-self: flex-end;
}
.received p {
  background: #e5e5ea;
  color: black;
}
.messageInputForm {
  max-height: calc((100vh - 60px)*0.075);
  min-height: max-content;
  position: sticky;
  bottom: 0;
  align-self: flex-end;
  width: 100%;
  display: flex;
  font-size: 1.5rem;
  background-color: inherit;
}
.messageInputForm input {
  line-height: 1.5;
  width: 100%;
  font-size: 1.5rem;
  background: rgb(58, 58, 58);
  color: white;
  outline: none;
  border: none;
  padding: 0 10px;
}
.messageInputForm button {
  width: 20%;
  border-radius: 3px;
}

/* New Room page */
.newRoom {
  display: flex;
  flex-direction: column;
}
.newRoomForm {
  min-width: 40vh;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
}
.newRoomForm input {
  margin-top: 1rem;
}
.newRoomForm button {
  margin-top: 2rem;
}
.created {
  font-size: 1.5em;
  text-align: center;
  padding: 1rem;
}
.created button {
  margin: 1rem;
}
