/* Global */
body {
  color: #eee;
  background-color: rgb(25, 24, 36);
}
a {
  text-decoration: none;
  transition: color 0.15s ease-in-out;
}
.mainBackground {
  background-color: rgb(58, 56, 70);
  padding: 1rem;
  min-height: 85vh;
}
.noPadding {
  padding: 0;
}

/* Navbar */
.header {
  background-color: rgb(73, 77, 97);
}
.header > .navbar-brand {
  color: #eee;
  font-size: 2em;
}
.header > .navbar-brand:hover {
  color: #6e6e6e;
}
.header div > .twoButtonNav {
  margin-right: 2rem;
}

/* Welcome page */
.welcomeContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.welcomeHeading {
  padding: 1rem;
}
.welcomeHeading h1 {
  margin: 0;
}
.welcomeBody {
  padding: 1rem;
}

/* Login */
.btnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btnContainer button {
  margin: 1rem 0;
  width: 30%;
  min-width: max-content;
}

/* auth forms/headings */
.registerHeading {
  text-align: center;
}
.loginStdHeading {
  text-align: center;
}
.authFormOuter {
  /* margin: auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.authFormOuter form {
  width: 30%;
  min-width: 30vh;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
}
.authFormOuter input {
  margin-bottom: 1rem;
}
.authFormOuter button {
  width: max-content;
  align-self: center;
}

/* Main page */
.main-head {
  text-align: center;
  padding: 1rem;
}
.main-chatRoomSingleContainer {
  padding: 1rem;
  font-size: 1.25em;
}
.main-chatRoomSingleContainer > .list-group-item {
  background-color: transparent;
  color: inherit;
  border-width: 2px;
}
.main-chatRoomSingleContainer > .list-group-item:active {
  background-color: #000 !important;
}
.main-chatRoomSingleContainer > .list-group-item:hover {
  background-color: #1a1e21;
}
.main > .container {
  display: flex;
  flex-direction: column;
}

/* Chat room */
.message p {
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: center;
}
.chat-head {
  text-align: center;
  position: sticky;
}
.message {
  display: flex;
  align-items: center;
}
.sent {
  flex-direction: row-reverse;
}
.sent p {
  color: white;
  background: #0b93f6;
  align-self: flex-end;
}
.received p {
  background: #e5e5ea;
  color: black;
}

.messagesContainer {
  /* padding: 10px; */
  /* height: 80vh; */
  /* margin: 10vh 0 10vh; */
  max-height: 80vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}
.messagesContainer::-webkit-scrollbar {
  width: 0.25rem;
}
.messagesContainer::-webkit-scrollbar-track {
  background: #1e1e24;
}
.messagesContainer::-webkit-scrollbar-thumb {
  background: #522bbe;
  border-radius: 1rem;
}